@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 96vh;
    width: 100%;
    background: linear-gradient(rgba(188, 183, 255, 0.5),rgba(188, 183, 255, 0.5) .100%), url(../imgs/bg-top.svg);
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    margin-top: 10%;
    font-weight: 900;
}

label{
    background-color: rgb(96, 96, 202);
    border-radius: 50px;
    cursor: pointer;

    display:flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 5px;
    position: relative;
    height: 24px;
    width: 50px;

    transform: scale(1.5);
}

.opcoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}

.opcoes p{
    font-size:large;
    font-weight: bolder;
}

#iCheck{
    opacity: 0;
    position: absolute;
}

.ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 20px;
    width: 20px;


    transform: translateX(0px);
    transition: transform 0.2s linear;
}

#iCheck:checked + label .ball{
    transform: translateX(24px);
}

.basico-anual, .basico-mensal, .master-anual, .master-mensal{
    margin: 0 auto;
    margin-top: 15%;
    background-color: #fff;
    border-radius: 10px;
    width: 85%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

.basico-anual hr,.prof-anual hr,.basico-mensal hr, .prof-mensal hr, .master-anual hr, .master-mensal hr{
    margin:15px 45px;
}

.basico-anual p, .prof-anual p, .basico-mensal p, .prof-mensal p, .master-anual p, .master-mensal p {
    text-align: center;
    font-weight: bold;
}

.basico-anual .classe, .prof-anual .classe,.basico-mensal .classe, .prof-mensal .classe, .master-anual .classe, .master-mensal .classe{
    padding-top: 20px;
}

.basico-anual .preco, .prof-anual .preco,.basico-mensal .preco, .prof-mensal .preco, .master-anual .preco, .master-mensal .preco{
    padding-top: 20px;
    font-size: 3rem;
}

.basico-anual button, .basico-mensal button, .master-anual button, .master-mensal button{
    background:linear-gradient(to right, rgb(168, 167, 253), rgb(96, 96, 202));
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.prof-anual, .prof-mensal{
    margin: 0 auto;
    margin-top: 15%;
    background:linear-gradient(to right, rgb(168, 167, 253), rgb(96, 96, 202));
    border-radius: 10px;
    width: 85%;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
}

.prof-anual button, .prof-mensal button{
    background-color: white;
    color: rgb(96, 96, 202);
    font-size:1.2rem;
    font-weight: 900;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.master-anual, .master-mensal{
    padding-bottom: 0px;
}

.off{
    display: none;
}

